<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>






<form  action="/pay" method="post">
  <script

src="https://checkout.stripe.com/checkout.js"
class="stripe-button"
data-key="pk_test_JnEBwFlFPAg4xuhUy0a0EbcL00jMkj0328"
data-amount="10000"
data-name="Akash"
data-description="This is previous year akash book"
data-locale="auto"
data-currency="gbp"
  >

  </script>

  <input type="hidden" name="charge" value="10000">
</form>

  </body>
</html>
